@model TrashCollector.Models.CustomerDayViewModel

@{
    ViewData["Title"] = "Pickups For Today";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Pickup Addresses</h1>

<form asp-action="PickupsForToday">
    
        <p>
            Find by Day of Week: <select asp-for="DayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()"></select>
            <input type="submit" value="Submit" class="btn btn-default" />
        </p>
    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].OneTimePickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].OneTimePickupUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].SuspendStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].SuspendEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTimePickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTimePickupUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendEnd)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="ConfirmPickup" asp-route-id="@item.CustomerId">Confirm Pickup</a>
                </td>
            </tr>
        }
    </tbody>
</table>
